<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Starter template</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/PkmNavbar.css" %}"/>
  </head>
  <body>
      <div class="navbar-div">
        <ul class="hList">
            <li>
                <a href="#click" class="menu">
                <h2 class="menu-title">Cards</h2>
                <ul class="menu-dropdown">
                    <li onclick="window.location.href='/pkm-card-quantidade'">Quantidade</li>
                    <li>dog</li>
                    <li>horse</li>
                    <li>cow</li>
                    <li>pig</li>
                </ul>
                </a>
            </li>
            <li>
                <a href="#click" class="menu">
                <h2 class="menu-title menu-title_2nd">names</h2>
                <ul class="menu-dropdown">
                    <li>Kevin</li>
                    <li>Jim</li>
                    <li>Andy</li>
                </ul>
                </a>
            </li>
            <li>
                <a href="#click" class="menu">
                <h2 class="menu-title menu-title_3rd">things</h2>
                <ul class="menu-dropdown">
                    <li>bench</li>
                    <li>pizza</li>
                    <li>Honda CB125</li>
                    <li>space</li>
                    <li>black matter</li>
                    <li>apple</li>
                    <li>philodendron</li>
                    <li>liver</li>
                    <li>brass</li>
                </ul>
                </a>
            </li>
            <li>
                <a href="#click" class="menu">
                <h2 class="menu-title menu-title_4th">Movies</h2>
                <ul class="menu-dropdown">
                    <li>Godzilla</li>
                    <li>Man on Wire</li>
                    <li>Spirited Away</li>
                    <li>Interstellar</li>
                </ul>
                </a>
            </li>
            </ul>  
    </div>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>