.container {
    max-width:60%;
    min-width: 1150px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    padding: 30px;
    border-radius: 10px;
    color: white;

}

.container-cards {
    background-color: white;
    width: 96%;
    min-height: 500px;
    margin-top: 15px;
    margin-left: 2%;
    padding: 20px;
    background-color: #444444;
}