
#container-card-details{
    background-image: url('./../images/icons/container_bg.png');
    background-color: #444;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}

.card-details-left-div{

    width: 30%;
    display: flex;
    max-height: 400px;
    justify-content: right;
}


.card-details-right-div {

    width: 55%;
    display: flex;
    justify-content: left;

}

.card-details-info {
    border: solid thin silver;
    width: 60%;
    background-color: #fff;
}

.card-details-info-header{
    height: 55px;
    background-color: #a4a4a4;
    font-family: "Fira Sans", arial, sans-serif;
    color: #F2F2F2;
    padding: 10px;
    letter-spacing: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

.card-details-info-row-1 {
    background-color: #F2F2F2;
    color: #313131;
    padding: 1px;
    height: 45px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.img-icon-grande{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
        
    border: 2px solid #7c5;
    border-radius: 50%;

}

.card-details-info-row-2 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.card-details-info-row-2 h6 {
    width: 100%;
    text-align: center;
    font-size: small;
    color: #444;

}

.card-details-inf-hability{
    display: flex;
    justify-content: left;
    margin-top: 10px;

}

.card-details-inf-hability-icon{
    width: 25%;
    border-radius: 40px;
    border-style: double;
    border-color: silver;
    background-color: #e3350d;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: small;
    font-family: "Flexo-Demi", arial, sans-serif;
    margin-right: 20px;
}

.card-details-inf-hability-name{
    color: #e3350d;
    font-family: "Flexo-Demi", arial, sans-serif;
    font-weight: bold;
}


.card-details-info-attack-cards{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-bottom: 10px;
    border: dotted thin silver;

}

.pkm-card-table{
    width: 100%;
}

.pkm-card-table tr {
    /* border-bottom: dotted thin silver; */

    /* border: solid thin silver; */
    /* background: rgb(19,27,232);
    background: linear-gradient(90deg, rgba(19,27,232,1) 2%, rgba(9,73,121,1) 31%, rgba(0,212,255,1) 100%); */

}

.card-details-info-attack-cards-th2{
    color: #444;
    font-weight: 500;
    width: 55%; 
    text-align: center
 }

 .card-details-info-attack-cards-th3{
    color: #444;
    font-weight: 700;
    text-align: right;
    padding-right: 3px;
 }

 .span-attack-details{
    font-size: 14px;
    color: #919191;
    /* border: solid thin silver; */
    padding: 3px;
    font-family: "Roboto", arial, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
 }

 .card-details-inf-gx-icon{
    background: rgb(164,164,164);
    background: linear-gradient(90deg, rgba(164,164,164,1) 2%, rgba(9,73,121,1) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;

 }

 .card-details-info-row-3 {
    background-color: #f2f2f2;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
 }
 .pkm-card-table-2  {
    width: 100%;
    color: #444;
    text-align: center;

 }

 .pkm-card-table-2  tr th{
    font-weight: 500;
 }

 .card-details-info-pkm-desc {
    border: dashed thin silver;
    color:#444;
    font-weight: 400;
    margin-top: 15px;
    padding: 5px;
    font-size: small;
    text-align: left;
    font-style: italic;
    width: 80%;

 }

 .card-details-info-row-4{
    color: #444;
    display: flex;
    justify-content: space-evenly;
    font-family: "Flexo-Demi", arial, sans-serif;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

 }
