@import url('PokemonTypesColors.css');

.pokemon-container{
    display: flex;
    justify-content: space-between;
}
.single-card-pokemon {
    width: 16%;
    border: solid thin yellow;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.single-card-pokemon .card-img img{

        width: 100%;
        height: 100%;
    
}

.pokemon-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ebe7e7 !important;
    justify-content: center;
    
}

.single-card-pokemon .card-img{
    height: 60%;
}

.single-card-pokemon .pokemon-description .pokemon-id {

    font-size: small;
    color: #737373;
    font-family: "Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial, sans-serif;
}

.single-card-pokemon .pokemon-description .pokemon-name {

    font-size: 1rem;
    font-weight: bold;
    color: #2769be;
    cursor: pointer;
    font-family: "Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.25em;
}

.single-card-pokemon .pokemon-description .pokemon-types {
    font-size: small;
    font-weight: 400;
    color: black;
    line-height: 1.50em;
}

.home-btn-new-pokemon{
    margin-left: 30px;
    margin-top: 10px;
    background-color: black;
}