.GRASS {color: #5cb737;}
.NORMAL {color: silver;}
.FIRE {color: #d52100;}
.WATER {color: #0080ff;}
.ELECTRIC {color: #c90;}
.ICE {color: #0af;}
.FIGHTING {color: #a84d3d;}
.POISON {color: #88447a;}
.GROUND {color: #bf9926;}
.FLYING {color: #556dff;}
.PSYCHIC {color: #ff227a;}
.BUG {color: #83901a;}
.ROCK {color: #a59249;}
.GHOST {color: #5454b3;}
.DRAGON {color: #4e38e9;}
.DARK {color: #573e31;}
.STEEL {color: #8e8ea4;}
.FAIRY {color: #e76de7;}
